@import "colors.css";

* {
  font-family: "JetBrainsMono NF";
  font-weight: bold;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  /* main window transparent background */
}

.modules-left{
  border-radius: 5px;
}

.modules-center {
  border-radius: 5px;
}

.modules-right{
  border-radius: 5px;
}

tooltip {
  font-family: inherit;
  background: black;
  /* tooltip background */
  border: 1px solid black;
  /* tooltip border size and color */
  border-radius: 5px;
  /* tooltip rounded corners */
}



#workspaces,
#window,
#mpris,
#privacy-item,
#bluetooth,
#clock,
#tray,
#cpu,
#power-profiles-daemon,
#memory,
#pulseaudio,
#temperature,
#gamemode,
#network,
#backlight,
#custom-updates {
  /*text-shadow: 1px 1px 2px rgb(0, 0, 0);*/
  /* text shadow, offset-x | offset-y | blur-radius | color */
  background: #15161e; /*#15161e default*/
  /* background color */
  padding: 5px 10px;
  /* pill background shadows */
  /* rounded corners */
  color: white;
}

#clock {
  padding: 0px 15px;
  border-radius: 5px;
  background-color: #15161e;
  color: white;
}

#backlight {
  border-radius: 0px 5px 5px 0px;
}

#privacy-item {
  color: #15161e;
}

#workspaces {
  background: #15161e;
  border-radius: 5px;
}

#workspaces button {
  transition-property:
      background-color, border-left-color, border-right-color;
  transition-duration: 0.1s;
  font-size: 10px;
  color: white;
  margin: 0px 1px;
}


#workspaces button:first-child {
  margin-left: 0;
}

#workspaces button.active {
  border-radius: 8px;
  background: @primary_container;
}

#workspaces button:hover{
  border-radius: 8px;
}

#window {
  background-color: transparent;
  border-radius: 5px;
  margin-left: 10px;
}

#mpris{
  background-color: transparent;
  color: white;

}

#power-profiles-daemon {
  color: #c4cdf2;
}

#tray{
  background-color: transparent;
  border-radius: 5px;
}

#cpu{
  border-radius: 5px 0px 0px 5px;
}


@keyframes blink {
  to {
      background-color: #e64553;
  }
}
