* {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  /* main window transparent background */
}

tooltip {
  font-family: inherit;
  background: black;
  /* tooltip background */
  border: 2px solid black;
  /* tooltip border size and color */
  border-radius: 5px;
  /* tooltip rounded corners */
}

#workspaces,
#window,
#mpris,
#privacy-item,
#bluetooth,
#clock,
#tray,
#cpu,
#power-profiles-daemon,
#memory,
#pulseaudio,
#temperature,
#gamemode,
#network,
#backlight,
#custom-updates {
  /*text-shadow: 1px 1px 2px rgb(0, 0, 0);*/
  /* text shadow, offset-x | offset-y | blur-radius | color */
  background: black; /*#15161e default*/
  /* background color */
  margin: 10px 4px 4px 4px;
  /* empty spaces around */
  padding: 4px 10px;
  /* extend pill size, vertical then horizontal */
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.185);
  /* pill background shadows */
  border-radius: 8px; /*Default 5*/
  /* rounded corners */
  color: white;
}

/* extend empty space on both side of the bar,
* value from ~/.config/hypr/hyprland.conf
* gaps_out (8px) + border size (2px) = 10px */

#clock {
  padding-right: 5px;
}

#privacy-item {
  background: #e64553;
  color: #15161e;
}


#workspaces button {
  transition-property:
      background-color, border-left-color, border-right-color;
  transition-duration: 0.1s;
  font-size: 10px;
  color: white;
}

#workspaces button.empty {
  padding: 0px 10px;
}

#workspaces button:first-child {
  margin-left: 0;
}

#workspaces button.active {
  /* active workspace */
  background: #547792;
  border-radius: 8px;
}

#workspaces button:hover{
  background: #547792;
  border-radius: 8px;
}


#power-profiles-daemon {
  color: #c4cdf2;
}

@keyframes blink {
  to {
      background-color: #e64553;
  }
}
